fastapi>=0.115.12
uvicorn[standard]
SQLAlchemy
alembic
psycopg2-binary
pydantic-settings
python-dotenv
playwright==1.59.0
pytest
requests
httpx
PyExecJS
APScheduler
cryptography
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pyyaml
Pillow>=9.2
aiohttp
opencv-python
numpy
qrcode
loguru
